# Object files
*.o
*.ko
*.obj
*.elf

.*
*.o
*.a
*.dSYM
a.out
server/server

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app.idea
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# CMake unwanted files
CMakeCache.txt
CMakeFiles
*.cmake

# program name
serveur

# IDE
.idea

# test
test/test_zappy_server
test/Makefile
test/Testing
